<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Razor App</title>
</head>
<body>
    <header>
        <partial name="Shared/NavMenuPartial" />
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>
